# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
coverage.out
profile.out

# Go workspace file
go.work

# btool's own backup directory
.btool/

# IDE-specific files
.idea/
.vscode/
*.swp
*~

# OS-specific files
.DS_Store

# Compiled binary
btool-go
